<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

This project is using ibm cloud Pak for Data and IBM DB2 on Cloud to complete

In [1]:
!pip install --upgrade sqlalchemy
#!pip install --upgrade ibm_db_sa
!pip install --upgrade mysql
!pip install --upgrade ipython-sql
!pip install --upgrade sql

Requirement already satisfied: sqlalchemy in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (1.3.9)
Collecting sqlalchemy
  Using cached SQLAlchemy-1.4.36-cp39-cp39-macosx_11_0_arm64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-1.4.36
Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Using cached mysqlclient-2.1.0.tar.gz (87 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.0-cp39-cp39-macosx_11_0_arm64.whl size=54991 sha256=9249fe42f18443826308519ff92022ed0127fac7e7f101f8f506ed8a1d4e4d72
  Stored in directory: /Users/wai-takwong/Library/Caches/pip/wheels/87/b7/2c/de7dba0acf2f491d1bbc8c56b7320041ef58621ea75b47bdc9
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.0
Requirement already satisfied: ipython-sql in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython-sql) (1.4.36)
Requirement already satisfied: six in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython-sql) (8.3.0)
Requirement already satisfied: sqlparse in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: pickleshare in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (59.4.0)
Requirement already satisfied: stack-data in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: appnope in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pexpect>4.3 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: traitlets>=5 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.2.1.post0)
Requirement already satisfied: matplotlib-inline in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pygments>=2.4.0 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: decorator in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in /Users/wai-takwong/.pyenv/versions/miniforge3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Collecting sql
  Using cached sql-2022.4.0.tar.gz (4.2 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sql
  Building wheel for sql (setup.py) ... done
  Created wheel for sql: filename=sql-2022.4.0-py3-none-any.whl size=4325 sha256=595bde64230964b2f1f6a3c78a80660c0575efc6d2091ccf84b837225f929628
  Stored in directory: /Users/wai-takwong/Library/Caches/pip/wheels/46/08/97/9539d985c524b7a3793898bbf6c95879a0e9daf5fc9ba49fd0
Successfully built sql
Installing collected packages: sql
Successfully installed sql-2022.4.0

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [ ]:
#%sql ibm_db_sa://b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb:user=xxx;password=xxx;sslConnection=true;

In [24]:
%sql mysql://root:xxx@localhost/spacex

In [ ]:
#%env DATABASE_URL=ibm_db_sa://b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb:user=xxx;password=xxx;sslConnection=true;

In [ ]:
%env DATABASE_URL=mysql://xxx:xxx@localhost/spacex

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [31]:
%sql SELECT distinct LAUNCH_SITE FROM SPACEXTBL

 * mysql://root:***@localhost/spacex
4 rows affected.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [43]:
%sql SELECT * FROM SPACEXTBL where LAUNCH_SITE Like '%CCA%' limit 5

 * mysql://root:***@localhost/spacex
5 rows affected.

[('4/6/10', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('8/12/10', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('8/10/12', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('1/3/13', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [94]:
%sql select sum(PAYLOAD_MASS__KG_) as total1 from SPACEXTBL where CUSTOMER='NASA (CRS)'

 * mysql://root:***@localhost/spacex
1 rows affected.

[(Decimal('45596'),)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [97]:
%sql select sum(PAYLOAD_MASS__KG_) as total2 from SPACEXTBL where BOOSTER_VERSION='F9 v1.1'

 * mysql://root:***@localhost/spacex
1 rows affected.

[(Decimal('14642'),)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [95]:
%sql select min(DATE) from SPACEXTBL

 * mysql://root:***@localhost/spacex
1 rows affected.

[(datetime.date(2001, 6, 14),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [98]:
%sql select BOOSTER_VERSION from SPACEXTBL where PAYLOAD_MASS__KG_ > 4000 and PAYLOAD_MASS__KG_ < 60000 and LANDING_OUTCOME='Success (drone ship)'

 * mysql://root:***@localhost/spacex
7 rows affected.

[('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1036.1',),
 ('F9 B4 B1041.1',),
 ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [61]:
%sql select SUCCESS_MISSION_COUNT, FAILURE_MISSION_COUNT from (select count(*) as SUCCESS_MISSION_COUNT  from  SPACEXTBL where MISSION_OUTCOME Like '%Success%') as A, (select count(*) as FAILURE_MISSION_COUNT from SPACEXTBL where MISSION_OUTCOME Like '%Failure%') as B

 * mysql://root:***@localhost/spacex
1 rows affected.

[(100, 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [104]:
%sql select * from (select Booster_Version, MAX(PAYLOAD_MASS__KG_) AS MAX_PAYLOAD_MASS  FROM SPACEXTBL GROUP BY Booster_Version  ORDER BY MAX_PAYLOAD_MASS DESC) AS A where MAX_PAYLOAD_MASS = (select max(PAYLOAD_MASS__KG_) from SPACEXTBL)

 * mysql://root:***@localhost/spacex
12 rows affected.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.7', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.4', 15600)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [79]:
#%sql select Date, LANDING_OUTCOME, BOOSTER_VERSION, LAUNCH_SITE from SPACEXTBL where LANDING_OUTCOME='Failure (drone ship)' and Date BETWEEN '2015-01-01'AND '2015-12-31';

In [88]:
%sql select Date, LANDING_OUTCOME, BOOSTER_VERSION, LAUNCH_SITE from SPACEXTBL where LANDING_OUTCOME = 'Failure (drone ship)' and Date between '2015-01-01' AND '2015-12-31'  ;

 * mysql://root:***@localhost/spacex
1 rows affected.

[(datetime.date(2015, 6, 16), 'Failure (drone ship)', 'F9 FT B1024', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [93]:
%sql select LANDING_OUTCOME, count(LANDING_OUTCOME) as count from SPACEXTBL  where (LANDING_OUTCOME='Failure (drone ship)' or LANDING_OUTCOME='Success (ground pad)') and Date BETWEEN '2010-06-04' AND '2017-03-20' group by LANDING_OUTCOME order by count desc;

 * mysql://root:***@localhost/spacex
2 rows affected.

[('Failure (drone ship)', 3), ('Success (ground pad)', 2)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>